* {
  margin: 0;
  padding: 0;
}

#index {
  background-color: #979797;
  color: #fff;
  margin: 0;
  padding: 0;
  min-width: 850px;
}
body {
  background-color: #979797;
  color: #fff;
  margin: 0;
  padding: 0;
  min-width: 1120px;
}

#menu_bar {
  text-align: center;
  background-color: #5C5858;
}
#menu_bar li{
  display: inline-block;
  font-size: 1.4em;
  padding: 5px;
  margin:0 20px;
 }
 #menu_bar li a, #menu_bar li a:visited {
  text-decoration: none;
  color: white;
 }



/********** SLIDER **********/
.slider {
  width: 100%;
  margin: 0px auto 20px auto;}

.slide-viewer {
    position: relative; /* needed for IE7 */
    overflow: hidden;
    height: 630px;}

.slide-group {
    width: 100%;
    height: 100%;
    position: relative;}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;}

.slide:first-child {
    display: block;}

.slider img {
  width: 100%;
  height: 630px;
}

/********** BUTTONS **********/
.slide-buttons {
  text-align: center;}

.slide-btn {
  border: none;
  background: none;
  color: #000;
  font-size:  200%;
  line-height: 1em;
  padding-left: 10px;
}

.slide-btn.active, .slide-btn:hover {
  color: white;
  cursor: pointer;
}
.block-holder
{
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.block
{
  width: 22%;
  height: 300px;
  display: inline-block;
  overflow: hidden;
  background-color: #DDDDDD;
  border: solid black 2px;
  border-radius: 15px;
  padding: 5px;
  margin: 0px 5px 30px 5px;
  
  
}
.test {
  margin: 10px auto;
}
.block h2
{
  color: #5C5858;
  text-decoration: underline;
  text-align: center;
  margin: 5px;
}

.block img
{
  position: relative;
  display: block;
  height: 40%;
  width: auto;
  margin: 0 auto 10px auto;
}

.block h3
{
  color: purple;
  text-align: center;
  margin: 5px;
}

.block p
{
  position: relative;
  width: 80%;
  height: 40%;
  margin: 0 auto 10px auto;
  color: blue;
  text-align: justify;
}

section {
  width: 100%;
}
#bestsellers {
  text-align: center;
  color:#222B2F;
  margin-bottom: 10px;
}
footer {
  min-height: 150px;
  text-align: center;
  font-size: 1.4em;
  background-color: #5C5858;
  color:#D4D4D2;
}

#contact {
  padding-top: 20px;
  font-size: 1.2em;
}
#info {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.8em;
  
}
#copyright {
  font-size: 0.6em;
  margin-top: 20px;
  padding-bottom: 5px;
}
#footer_contact li{
  margin-top: 20px;
  display: inline-block;
}
#footer_contact a {
  
  color:#222B2F;
  padding: 10px;
}
footer p {
  font-size: 0.7em;
}
